@import "tailwindcss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}
html , body{
    width: 100%;
    height: auto;
    scroll-behavior: smooth;
}